.doc {
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-botton: 100px;
}

.title {
    font-size: 3.5em;
    margin-bottom: 50px;
}

.info {
    font-size: 2em;
    margin-bottom: 100px;
}

#symbol {
    width: 50px;
    height: 50px;
    margin: 20px;
}

#temp-text {
    color: #42aaf4;
}

